@import "peicons";

@font-face {
    font-family: 'geomanistblack';
    src: url('../fonts/geomanist/geomanist-black-webfont.eot');
    src: url('../fonts/geomanist/geomanist-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-black-webfont.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-black-webfont.woff') format('woff'),
         url('../fonts/geomanist/geomanist-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'geomanistbold';
    src: url('../fonts/geomanist/geomanist-bold-webfont.eot');
    src: url('../fonts/geomanist/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-bold-webfont.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-bold-webfont.woff') format('woff'),
         url('../fonts/geomanist/geomanist-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'geomanistbook';
    src: url('../fonts/geomanist/geomanist-book-webfont.eot');
    src: url('../fonts/geomanist/geomanist-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-book-webfont.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-book-webfont.woff') format('woff'),
         url('../fonts/geomanist/geomanist-book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'geomanistextralight';
    src: url('../fonts/geomanist/geomanist-extralight-webfont.eot');
    src: url('../fonts/geomanist/geomanist-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-extralight-webfont.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-extralight-webfont.woff') format('woff'),
         url('../fonts/geomanist/geomanist-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'geomanistlight';
    src: url('../fonts/geomanist/geomanist-light-webfont.eot');
    src: url('../fonts/geomanist/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-light-webfont.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-light-webfont.woff') format('woff'),
         url('../fonts/geomanist/geomanist-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'geomanistmedium';
    src: url('../fonts/geomanist/geomanist-medium-webfont.eot');
    src: url('../fonts/geomanist/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-medium-webfont.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-medium-webfont.woff') format('woff'),
         url('../fonts/geomanist/geomanist-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'geomanistregular';
    src: url('../fonts/geomanist/geomanist-regular-webfont.eot');
    src: url('../fonts/geomanist/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-regular-webfont.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-regular-webfont.woff') format('woff'),
         url('../fonts/geomanist/geomanist-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'geomanistthin';
    src: url('../fonts/geomanist/geomanist-thin-webfont.eot');
    src: url('../fonts/geomanist/geomanist-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-thin-webfont.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-thin-webfont.woff') format('woff'),
         url('../fonts/geomanist/geomanist-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'geomanistultra';
    src: url('../fonts/geomanist/geomanist-ultra-webfont.eot');
    src: url('../fonts/geomanist/geomanist-ultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-ultra-webfont.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-ultra-webfont.woff') format('woff'),
         url('../fonts/geomanist/geomanist-ultra-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}