.tint-1 {
    color: $brand-w;
    background: $tint-1;

    .component-name,
    .collapsible-toggle {
        color: $tint-w !important;
    }
}


.tint-2 {
    color: $brand-w;
    background: $tint-2;

    .component-name,
    .collapsible-toggle {
        color: $tint-w !important;
    }
}


.tint-4 {
    color: $brand-w;
    background: $tint-4;
  
    .component-name,
    .collapsible-toggle {
      color: $tint-w !important;
    }
  
  }
  
  .tint-5 {
    color: $brand-w;
    background: $tint-5;
  
    .component-name,
    .collapsible-toggle {
      color: $tint-w !important;
    }
  }
  
  .tint-7 {
    background: $tint-7;
  }
  
  .tint-8 {
    background: $tint-8;
  }
  