.tint-1 {
    color: $brand-w;
    background: $tint-1;
}

.tint-2 {
    color: $brand-w;
    background: $tint-2;
}

.tint-4 {
  color: $brand-w;
  background: $tint-4;
}

.tint-5 {
  color: $brand-w;
  background: $tint-5;
}

.tint-7 {
  background: $tint-7;
}

.tint-8 {
  background: $tint-8;
}
