.paging-wrap {

}


.divider {
  height: 1px;
}

.pagination {
  display: block;
  text-align: right;
  white-space: nowrap;

  li {
    display: inline-block;
    border: 1px solid $tint-8;
    margin: 0;
    padding: 0;

    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      vertical-align: middle;
      color: $brand-6;
    }

    &.active {
      background: $tint-8;
    }
  }

  .prev a, .next a {
    i {
      font-size: 26px;
      width: 40px;
      display: block;
      height: 40px;
      line-height: 40px;
      text-align: center;
    }
  }

}


.page-grid-block {


  .eq-block {
    background-size: cover;
    background-position: center;
    background-color: $tint-8;
    padding-top: 260px;

      h4 {
        background: $tint-8;
        color: $brand-b;
        padding: 24px;
        margin: 0;
      
        @include screen-max-sm(){
          position: static; 
        }
      
      }
  }

}


.latest-post-signup-block {
  background: $brand-7;


  .eq-block-wrap {
    margin-bottom: 0;
          
      @include screen-max-sm(){
        margin-bottom: 30px;
          
          &:last-child {
              margin-bottom: 0;
          }
      }
  }


  .latest-post-block {
    background-size: cover;
    background-position: center;

      h4 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: $tint-3;
        color: $brand-w;
        padding: 24px;
        margin: 0;
      
        @include screen-max-sm(){
          position: static; 
        }
      
      }
  }

  .singup-form {
      padding: 30px 24px;
      color: $brand-b;

      .fa-envelope {
        font-size: 44px;
      }

      .dfp-logo {
        width: 196px;
        height: 100px;
        margin: 0 0 80px;
        background-image: url('../img/dfp-logo-bw.png');
        background-size: 100% auto;
        position: top center;
        background-repeat: no-repeat;
      }

      .mc4wp-form {
        margin: 0;
      }

      p {
        margin: 0;
      }

      h4 {
        margin: 0 0 20px;
      }

      .form-group {
        position: relative;


        input[type="submit"] {
          position: absolute;
          top: 0;
          right: 0;
          height: 50px;
          line-height: 50px;
        }

      }
  
  }


}



.awards-block {
  padding-bottom: 60px;
}

.feat-block {
  padding-top: 0;
}


.offices-block {

  .card-0 {
    border-top: 5px solid $tint-1;
    
    strong {
       color: $brand-1;
    }
  }

  .card-1 {
    border-top: 5px solid $tint-3;
    
    strong {
       color: $brand-3;
    }
  }

  .card-2 {
    border-top: 5px solid $tint-4;
    
    strong {
       color: $brand-4;
    }
  }
  
  h4 {
    padding: 24px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
  }

}





